* {
    padding: 0;
    margin: 0;

}

@font-face {
    font-family: "Pretendo";
    src:
        url("https://manzdev.github.io/twitch-nintendo-nes/fonts/pretendo.woff2") format("woff2"),
        url("https://manzdev.github.io/twitch-nintendo-nes/fonts/pretendo.woff") format("woff");
    font-display: swap;
}

body {
    height: 100vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'pretendo', sans-serif;
}

#container {
    height: 15em;
    width: 35em;
    background-color: #d6d2d2;
    border-radius: 0.4em;
    display: flex;
    align-items: center;
    justify-content: center;

}

/* PARTES DEL MANDO --------------------------------------------------------------- */

#containerNegro {
    margin-top: 1.7em;
    height: 12em;
    width: 33.5em;
    background-color: #2c2b2b;
    border-radius: 0.4em;
    display: flex;
    flex-direction: row;

}

#parteIz {
    height: 9em;
    width: 10.5em;
    background-color: #464545;
    border-radius: 0.4em;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 3em;


}

#parteCen {
    height: 12em;
    width: 10.5em;
    background-color: #2c2b2b;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    justify-content: space-between;

}

#parteDe {
    height: 12em;
    width: 14em;
    background-color: #2c2b2b;
    border-radius: 0.4em;
    display: flex;
    flex-direction: column;
    background: -webkit-linear-gradient(to right, #434343, #000000);
    background: linear-gradient(to right, #434343, #000000);

}

#containerNegro2 {
    padding-top: 1.2em;
}

/* CAJAS Y FLECHAS DEL CURSOR --------------------------------------------------------------*/


.flechasCaja {
    height: 1.7em;
    width: 1.7em;
    background-color: #252323c9;
    border-radius: 0.2em;
    /*  background: #252323c9;
    background: -webkit-linear-gradient(to left, #434343, #000000);
    background: linear-gradient(to left, #434343, #000000); */

}

.flechasCaja:hover {
    cursor: pointer;
    height: 1.6em;
    width: 1.6em;
    background-color: #252323c9;
    border-radius: 0.2em;

}

#flechaCe {
    height: 1.7em;
    width: 1.7em;
    display: flex;
    align-items: center;
    justify-content: center;
}

#FlechaCirculo {
    height: 1em;
    width: 1em;
    border-radius: 50%;
    background-color: black;


}

#flechaCe {
    margin: 0em 0em 0em 0.1em;
    background: #2e2d2d;
    background: -webkit-linear-gradient(to right, #434343, #000000);
    background: linear-gradient(to right, #434343, #000000);
}

#flechaAl {

    border: 0.2em solid #d6d2d2;
    border-right: 0;
    background: #2e2d2d;
    background: -webkit-linear-gradient(to right, #434343, #000000);
    background: linear-gradient(to right, #434343, #000000);

}

#flechaIz {

    border: 0.2em solid #d6d2d2;
    border-bottom: 0;
    background: #2e2d2d;
    background: -webkit-linear-gradient(to right, #434343, #000000);
    background: linear-gradient(to right, #434343, #000000);

}

#flechaDe {

    border: 0.2em solid #d6d2d2;
    border-top: 0;
    display: flex;

    align-items: flex-end;
    justify-content: center;
    background: #2e2d2d;
    background: -webkit-linear-gradient(to right, #434343, #000000);
    background: linear-gradient(to right, #434343, #000000);
}

#flechaBa {

    border: 0.2em solid #d6d2d2;
    border-left: 0;
    background: #2e2d2d;
    background: -webkit-linear-gradient(to right, #434343, #000000);
    background: linear-gradient(to right, #434343, #000000);


}

/* PARTE CENTRAL -------------------------------------------------------------*/

.cajasCentrales {
    height: 1.6em;
    width: 10em;
    background-color: #7b7878;
    border-radius: 0.3em;

}

#cajonBotones {
    height: 3.1em;
    width: 10em;
    border-radius: 0.2em;
    background-color: #d6d2d2;
    display: flex;
    align-items: center;
    justify-content: center;

}

#cajaBotones {
    height: 2.2em;
    width: 9.1em;
    background-color: #d6d2d2;
    border: 0.12em solid #2d2b2b;
    border-radius: 0.2em;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
}

.botonesCentrales {
    height: 0.88em;
    width: 2.7em;
    background-color: #2e2d2d;
    border-radius: 2.9em;
    background: #2e2d2d;
    background: -webkit-linear-gradient(to right, #434343, #000000);
    background: linear-gradient(to right, #434343, #000000);

}

.botonesCentrales:hover {

    height: 0.8em;
    width: 2.6em;
    cursor: pointer;

}

#cajaletras {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    color: #d80718;


}

#cajaletras p {
    font-size: 0.6em;
    /* margin-right: 0.8em; */
    letter-spacing: 0.2em;
    font-weight: bold;
}

/* PARTE DERECHA----------------------------------------------------------------------------------------- */

#cajaLetrasNinten {
    height: 6.4em;
    width: 14em;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #960c18;

}

#letrasNinten {

    font-size: 1em;
    font-weight: bold;
}

#marcaRegist {

    font-size: 0.5em;
    padding-bottom: 1em;
}

#cajaBotonesRojos {
    height: 4em;
    width: 14em;
    display: flex;
    align-items: center;
    justify-content: center;

}

.botonesRojos {
    height: 3.9em;
    width: 3.6em;
    background-color: #d6d2d2;
    border-radius: 0.3em;
    margin: 0.4em;
    display: flex;
    align-items: center;
    justify-content: center;

}

#rellenoCAjaBotones {
    height: 3.9em;
    width: 2em;
}

#cajaLetrasB {
    height: 2.2em;
    width: 14em;
    display: flex;
    justify-content: center;
}


#cajaLetrasB p {
    margin-top: 0.3em;
    color: #9e0613;
    font-size: 0.8em;

}

.letrasBotones {
    height: 1em;
    width: 4em;

    display: flex;
    justify-content: right;
    margin-right: 1.5em;
}


.circulosRojos {
    height: 2.8em;
    width: 2.8em;
    border-radius: 50%;
    border: 0.15em solid #1f1e1e;
    background: #d80718;
    background: -webkit-linear-gradient(to top, #93291E, #ED213A);
    background: linear-gradient(to top, #93291E, #ED213A);
}

.circulosRojos:hover {
    height: 2.75em;
    width: 2.75em;
    background-color: #be0615;
    border-radius: 50%;
    border: 0.10em solid #1f1e1e;
    cursor: pointer;
    transition: 0.3s;
}

#letraAbotones {
    margin-right: 1.4em;
}

/* flechas mando */